DB_URL=jdbc:mysql://localhost:3306/question_bank?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Africa/Lagos
DB_USERNAME=root
DB_PASSWORD=change-me
SHOW_SQL=false
DEFAULT_ADMIN_FULL_NAME=Default Admin
DEFAULT_ADMIN_EMAIL=admin@questionbank.local
DEFAULT_ADMIN_PASSWORD=Admin@12345
